a {
  display: flex;
}

.grid{
  display: flex;
  padding-block: 10px;
}

.grid__list{
  display: flex;
  gap: 20;
}

.grid__list-item{
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  margin-left: 20px;
}

.grid__list-link:hover{
  color: var(--dark);
}

.grid__list-link{
  color: var(--gray);
  transition: color 0.3s;
  letter-spacing: -0.47px;
}

.grid__button{
  font-size: 20px;
  font-family: "DM sans", sans-serif;
  border-radius: 999px;
  font-weight: 700;
  color: white;
  background: rgb(209, 87, 0);
  border: 10px solid var(--orange);
  position: right;   /* относительно ближайшего relative-родителя */
  right: auto;
  top: auto;
}

.grid_button:hover {
  background: rgb(121, 50, 5);
}
